snowflake_dbt:
  target: prod
  outputs:
    prod:
      type: snowflake
      account: "not needed"
      user: "not needed"
      role: "ROLE_PROD_DBT"
      warehouse: "WH_PROD_DBT"
      database: "ANALYTICS_PROD"
      schema: "INTEGRATION"
      threads: 8
      client_session_keep_alive: false
