snowflake_dbt:
  target: dev
  outputs:
    dev:
      type: snowflake
      account: "not needed"
      user: "not needed"
      role: "ROLE_DEV_DBT"
      warehouse: "WH_DEV_DBT"
      database: "BRONZE_DEV"
      schema: "BRONZE"
      threads: 8
      client_session_keep_alive: false
